body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/*menu interno*/


.menu {
    margin: auto; /* Centrar el menú horizontalmente */
    padding: 10px; /* Añadir espacio entre líneas */
    text-align: center; /* Centrar los elementos del menú */ 
}

.menu li {
    display: inline-block; /* Mostrar los elementos del menú en línea */
    margin-right: 20px; /* Espacio entre elementos del menú */ 
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 5px; 
    background-color: blue;
    display: inline-block; /* Asegurar que el ancho se aplique correctamente */
    width: 20vh; /* Establecer el ancho deseado */
    line-height: 2.5; /* Ajustar la altura de línea para centrar verticalmente el texto */
}

.menu a:hover {
    color: red;
}

header {
    background-color: #A3284D;
    color: white;
    padding: 18px;
    text-align: center;
}

/* Estilos para el contenido del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    column-count: 2; /* Number of columns */
    height: 280px; /* Set the height of the dropdown menu */
  }
  
  .dropdown-content li {
    padding: 10px;
    display: block;
    break-inside: avoid; /* Prevent items from being split between columns */
  }

/* Cambiar color de enlace al pasar el ratón sobre él */
.dropdown-content li:hover {
    background-color: blue;
}

/* Mostrar el dropdown cuando el mouse pasa sobre el elemento padre */
.desplegado {
    position: relative; /* Hacer que el elemento padre sea el marco de referencia para el dropdown */
}

.desplegado:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F599A6;
  }



nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
    margin-bottom: 20px;
}

.cesta img{
    width: 5vh;
    height: 5vh;
    float: right;
}

.inicio img{
    width: 5vh;
    height: 5vh;  
    margin-bottom: -2vh;
}

.desplegado a{
    text-decoration: none;
    color: white; 
}

#contenido {
    padding: 20px;
}


/*RESPONSIVE DESIGN*/

[class*="col-"] {
    width: 100%;
}


@media only screen and (max-width: 400px) {
    #desplegado {
        display: none;
    }

    #plegable {
        /* QUITAR FLECHA MENÚ */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* QUITAR FLECHA MENÚ */
        background: transparent url(./../menu.png) no-repeat;
        background-size: 5vh 4vh;
        width: 5vh;
        height: 4vh;
        border-radius: 5px;
    }

    nav {
        display: flex; /* Usar flexbox */
        justify-content: space-between; /* Espaciado uniforme entre los elementos */
        align-items: center; /* Centrar verticalmente los elementos */

    }

    .desplegado,
    select {
        list-style: none;
        display: flex; /* Usar flexbox */
    }

    .desplegado li,
    select {
        margin: auto;
    }

    .cesta {
        margin-left: auto; /* Mover el ícono del carrito a la derecha */
    }

    #logo {
        width: 100%;
        height: 31vh;
        margin-bottom: -0.6vh;
    }

    .plegable {
        display: block; /* Mostrar el select */
    }

    .menu {
        display: none !important; /* Ocultar la lista ul */
    }

}

@media only screen and (min-width: 400px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #plegable {
        display: none;
    }

    #logo {
        width: 35vh;
        height: auto;
        display: grid;
        opacity: 0.0s;
        position: relative;
        float: left;
    }
    
     /* Ajuste para que el header se ajuste automáticamente a la altura del logo */
    header {
        height: auto; /* Establecemos la altura a 'auto' para que se ajuste automáticamente */
        display: flex; /* Usamos flexbox para alinear verticalmente los elementos */
        flex-direction: column; /* Alineamos los elementos en columna */
        align-items: center; /* Centramos los elementos horizontalmente */
        padding: auto;

    }

    .cesta {
        margin-left: auto; /* Mover el ícono del carrito a la derecha */
    }

    nav {
        display: flex; /* Usar flexbox */
        justify-content: space-between; /* Espaciado uniforme entre los elementos */
        align-items: center; /* Centrar verticalmente los elementos */

}

    .menu {
        display: block;
    }


}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #plegable {
        display: none;
    }

    .menu {
        display: block;
    }

    #logo {
        width: 35vh;
        height: auto;
        display: grid;
        opacity: 0.0s;
        position: relative;
        float: left;
    }

     /* Ajuste para que el header se ajuste automáticamente a la altura del logo */
    header {
        height: auto; /* Establecemos la altura a 'auto' para que se ajuste automáticamente */
        display: flex; /* Usamos flexbox para alinear verticalmente los elementos */
        flex-direction: column; /* Alineamos los elementos en columna */
        align-items: center; /* Centramos los elementos horizontalmente */
        padding: 0%;
    }

    .cesta {
        margin-left: auto; /* Mover el ícono del carrito a la derecha */
    }

    nav {
        display: flex; /* Usar flexbox */
        justify-content: space-between; /* Espaciado uniforme entre los elementos */
        align-items: center; /* Centrar verticalmente los elementos */

}

}
