 
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A3284D;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
}

.logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.logo img {
    width: 200px;
    height: 133px;
    opacity: 1;
    transition: opacity 0.5s;
    position: absolute;
    margin-top: -9px;
    margin-left: -9px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#contenido {
    padding: 20px;
}

/* RESPONSIVE DESIGN */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 400px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    /* Other column styles... */
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    /* Other column styles... */
    .col-12 {width: 100%;}
}
